{% extends 'base.html' %}



{% block content %}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>500</h1>
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li class="active">500</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Contact 2 start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card border-0 rounder-0 shadow p-5 text-center">
                    <div class="card-body">
                        <h1>An unexpected error has occurred</h1>
                        <p>The administrator has been notified. Sorry for the inconvenience!</p>
                        <p><a href="/" class="btn btn-primary">Back</a></p>
                    </div>
                  </div>
                
            </div>
        </div>

    </div>
</div>
<!-- Contact 2 end -->


{% include 'includes/extras.html' %}

{% endblock content %}



