<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
        <a class="navbar-brand" href="#">Admin-Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('admin_bp.view_trades') }}">Trade Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_bp.view_users') }}">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_bp.view_cars') }}">Cars</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_bp.view_blogs') }}">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_bp.view_faqs') }}">FAQ's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_bp.create_car') }}">Add Car</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_bp.create_post') }}">Add blog Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_bp.create_faq') }}">Add Faq</a>
            </li>
          </ul>
        </div>
    </div>
      </nav>
</div>