{% extends 'base.html' %}


{% block content %}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Admin Panel</h1>
            <ul class="breadcrumbs">
                <li><a href="">Home</a></li>
                <li class="active">View Cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
{% include 'admin/includes/admin-nav.html' %}
<!--   Dashboard Start   -->

<!-- Contact 2 start -->
<div class="featured-car content-area">
    <div class="container">
        <table class="table tbale-sm">
            <thead>
                <th>Sr</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Available</th>
                <th>Model</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
              {% for car in cars %}
              <tr>
                <td>{{loop.index}}</td>
                <td> <img src="{{url_for('static', filename='uploaded-images/' + car.car_photo)}}" alt="{{car.car_title}}" width="50" height="20"></td>
                <td>{{ car.car_title }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.available }}</td>
                <td>{{ car.model }}</td>
                <td> <a href="{{url_for('admin_bp.update_car', car_id=car.id)}}" class="btn btn-sm btn-info">Edit</a></td>
                <td><a href="{{url_for('admin_bp.delete_car', car_id=car.id)}}" class="btn btn-sm btn-danger">Delete</a></td>
              </tr>
    
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--   Dashboard End   -->




{% endblock content %}