{% extends 'base.html' %}


{% block content %}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Admin Panel</h1>
            <ul class="breadcrumbs">
                <li><a href="">Home</a></li>
                <li class="active">View Blogs</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
{% include 'admin/includes/admin-nav.html' %}
<!--   Dashboard Start   -->

<!-- Contact 2 start -->
<div class="featured-car content-area">
    <div class="container">
        <table class="table tbale-sm">
            <thead>
                <th>Sr</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
              {% for post in posts %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.subtitle }}</td>
                <td> <a href="{{url_for('admin_bp.update_post', post_id=post.id)}}" class="btn btn-sm btn-info">Edit</a></td>
                <td><a href="{{url_for('admin_bp.delete_post', post_id=post.id)}}" class="btn btn-sm btn-danger">Delete</a></td>
              </tr>
    
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--   Dashboard End   -->




{% endblock content %}