{% extends 'base.html' %}


{% block content %}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Admin Panel</h1>
            <ul class="breadcrumbs">
                <li><a href="">Home</a></li>
                <li class="active">View Users</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
{% include 'admin/includes/admin-nav.html' %}
<!--   Dashboard Start   -->

<!-- Contact 2 start -->
<div class="featured-car content-area">
    <div class="container">
        <table class="table tbale-sm">
            <thead>
                <th>Sr</th>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                {% if user.admin %}
                <td>Admin</td>
                {% else %}
                <td>Customer</td>
                {% endif %}
                <td> <a href="{{url_for('admin_bp.update_user', user_id=user.id)}}" class="btn btn-sm btn-info">Edit</a></td>
                <td><a href="{{url_for('admin_bp.delete_user', user_id=user.id)}}" class="btn btn-sm btn-danger">Delete</a></td>
              </tr>
    
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--   Dashboard End   -->




{% endblock content %}