{% extends 'base.html' %}


{% block content %}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Admin Panel</h1>
            <ul class="breadcrumbs">
                <li><a href="">Home</a></li>
                <li class="active">Admin Panel</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
{% include 'admin/includes/admin-nav.html' %}
<!--   Dashboard Start   -->

<!-- Contact 2 start -->
<div class="featured-car content-area">
    <div class="container">
        
    </div>
</div>
<!--   Dashboard End   -->




{% endblock content %}