<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>We are here to serve you</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{url_for('static', filename='img/avatar/avatar-4.jpg')}}" alt="team-1" class="img-fluid" style="min-height: 262px; max-height: 262px;">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="#">Emma Jones</a></h4>
                            <h5>Manager</h5>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{url_for('static', filename='img/avatar/avatar-3.jpg')}}" alt="team-1" class="img-fluid" style="min-height: 262px; max-height: 262px;">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="#">Nick Jonas</a></h4>
                            <h5>Developer</h5>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{url_for('static', filename='img/avatar/avatar-2.jpg')}}" alt="team-1" class="img-fluid" style="min-height: 262px; max-height: 262px;">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="#">Tom Criuse</a></h4>
                            <h5>Scrum Master</h5>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{url_for('static', filename='img/avatar/avatar-1.jpg')}}" alt="team-1" class="img-fluid" style="min-height: 262px; max-height: 262px;">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="#">Sean Xavier</a></h4>
                            <h5>Product Owner</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->


<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{{ url_for('pages.contact') }}" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->